<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="/tmp/startLearnGo-linux-amd64.so7199566482109026795" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>